{% extends "base.html" %}

{% block content %}
<h1>Home</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-7">
            <div class="bg-secondary bg-opacity-25 p-4 rounded-3 shadow-sm">
                <strong>Welcome to our BUS Project!</strong>
                <p>Please look through the various pages of this web app.</p>
                <p>To login, please make use of the following dummy login details:</p>
                  <table class="table table-dark table-bordered table-striped">
                    <thead>
                        <tr>
                          <th>Role</th>
                          <th>Username</th>
                          <th>Password</th>
                        </tr>
                    </thead>
                    <tr>
                      <td>Student</td>
                      <td>student1</td>
                      <td>student1.pw</td>
                    </tr>
                    <tr>
                      <td>Counsellor</td>
                      <td>counsellor1</td>
                      <td>counsel1.pw</td>
                    </tr>
                    <tr>
                      <td>Admin</td>
                      <td>admin1</td>
                      <td>admin1.pw</td>
                    </tr>
                  </table>
                <p>Please also note that we have included some placeholder pages, to facilitate the signposting
                    feature of the chatbot, and provide a structure of what we would expect to include with further
                    development.</p>


            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary bg-opacity-25 rounded-3 shadow-sm"> <!-- Sidebar -->
                <div class="card-body">
                    <h3 class="card-title text-light">Contributors</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent text-light">Tanveer Haider - 2181796</li>
                        <li class="list-group-item bg-transparent text-light">James Jackson - 2839180</li>
                        <li class="list-group-item bg-transparent text-light">Carrick Kennedy - 2837588</li>
                        <li class="list-group-item bg-transparent text-light">Ho Lam Li - 2879279</li>
                        <li class="list-group-item bg-transparent text-light">Jalal Zulfiqar - 2724243</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
